body{
    background-color: rgb(206, 209, 209);
    margin: 0px;
}

h2{
    color: #ffffff;
    font-family: 'Aleo', serif;
    font-size: 1.7rem;
    margin-top: 20px;
    margin-bottom: 5px;
}

p {
    color: #7f7f7f;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: light;
    margin-top: 10px;

}

.top-container { 
    color: #ffffff;
    font-family: 'Aleo', serif;
    font-size: 1.5rem;
    font-weight: light;
    margin-bottom: 80px;
    display: inline-block;
}

.top-container h2{
    margin-bottom: 5px;
    margin-top: 5px;
}

.top-container h1{
    margin-bottom: 5px;
    margin-top: 30px;
}

.skills{
    border: solid 1px #ffffff;
    border-radius: 100%;
    color: #ffffff;
    display:flex;
    flex-direction: column;
    margin-left: 8px;
    padding: 20px;
    position: absolute;
    right: 1.5rem;
    top: 19em;
}

.skills-body{
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: light;
    padding: 20px;
    justify-content: center;
    margin-bottom: 5px;
}


.middle-container{
    margin-left: 150px;
    text-align: center;
    width: 600px;
}

.doer{
font-weight:bold;
font-size:3rem;
}

.work{
    margin-top: 80px;
}

.professional-life-text{
    text-align: left;
    
}

.download-cv{
    background-color: rgb(206, 209, 209);
    border: solid 1px rgb(206, 209, 209);
    border-radius: 50%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: light;
    padding: 15px;
    text-align: center;
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, .6),
                inset -3px -3px 4px rgba(255, 255, 255, .6);
    
}

.download-cv:hover{
    background-color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 50%;
    color:  rgb(206, 209, 209);
    
    

}

.bottom-container{
    background-color: #ffffff;
    margin-top: 20px;
    font-size: 2rem;
    
}


.copyright{
    color: #7f7f7f;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: light;
    margin:0px;
    position: absolute;
    right:1.5rem;
}

.fa {
    color: #7f7f7f;
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

